*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mygreen: #093a39;
  --myyellow: #f8ab21;
  --mywhite: #fffaf1;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #fffaf1;
}

h1 {
  font-size: 140px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fffaf1;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.sides-left,
.sides-right {
  padding: 0rem;

  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.35s ease-in-out;
}
.sides-left:hover,
.sides-right:hover {
  padding: 1rem;
  cursor: pointer;
}

.left,
.right {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  transition: 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sides-left:hover .left,
.sides-right:hover .left,
.sides-left:hover .right,
.sides-right:hover .right {
  border-radius: 16px;
}
.sides-left:hover .mainheading,
.sides-right:hover .mainheading {
  color: #fffaf100;
}

.left {
  background-color: #093a39;
}
.right {
  background-color: #f8ab21;
}

/* Media Query */

@media only screen and (max-width: 1080px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .sides-left:hover,
  .sides-right:hover {
    padding: 0rem;
  }
  .sides-left:hover .left,
  .sides-right:hover .left,
  .sides-left:hover .right,
  .sides-right:hover .right {
    border-radius: 0px;
  }
}
